<div class="login m-3 text-center">
      <%= link_to 'Login', new_user_session_path, class: "btn btn-primary btn-custom"  %>  
  </div>
  <div class="register m-3 text-center">
      <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary btn-custom"  %>
  </div>
  <div class="signfb m-3 text-center">
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-custom" %>  
  </div>