

<h1 class="text-center p-5">Welcome to LitterWalk</h1>


    <div class="singfb m-3 text-center">
    <%= link_to 'Add a Can',  new_can_path, class: "btn btn-primary btn-custom"%>
  </div>
  <div class="singfb m-3 text-center">
      <%= link_to 'Find a Can',  cans_path, class: "btn btn-primary btn-custom"%>
  </div>
    <div class="singfb m-3 text-center">
      <%= link_to 'Trash Information', page_path('about'), class: "btn btn-primary btn-custom"%>
  </div>
