<h1 class="text-center p-5">Welcome to LitterWalk</h1>

<% unless current_user %> 
  <%= render 'login' %>
<% else %>
    <div id="add-can-id"class="singfb m-3 text-center">
    <%= link_to 'Add a Can',  new_can_path, class: "btn btn-primary btn-custom add-can"%>
  </div>
  <div class="singfb m-3 text-center">
      <%= link_to 'Find a Can',  cans_path, class: "btn btn-primary btn-custom find-can"%>
  </div>
    <div class="singfb m-3 text-center">
      <%= link_to 'Trash Information', page_path('about'), class: "btn btn-primary btn-custom trash-info"%>
  </div>
<% end %>