<div class="container" id="aboutText">
		
<div id="organic">
<h2 class="text-center m-5">Organic waste</h2>
<p class="paragraph">
 Organic materials make up the largest portion of waste. This includes paper and paperboard products which account for around 27% of waste, and yard trimmings and food which make up another 28%. As you can imagine, you’re probably creating organic waste during every meal. When properly disposed of, these materials can be picked up by trash removal services and transported to a facility where it will be turned into compost, which can actually be used as fertilizer.
</p>
</div>

<div id="recyclables">
<h2 class="text-center m-5">Recyclables</h2>
<p class="paragraph">
 Recyclables are types of waste that are non-biodegradable and can be converted into reusable material. Things like plastics, metals, and glass are all harmful to the environment when placed into landfills, but proper disposal can eliminate the need to manufacture even more of these materials, which are instead reused in more products. Pickup or drop-off recycling services are available to many people.
</p>
</div>

<div id="Ewaste">
<h2 class="text-center m-5">E-waste</h2>
<p class="paragraph">
This type of waste has become far more of an issue in recent years with the surge in technology, such as smartphones, laptops, and tablets. This is related to regular recyclables in that most of these products are composed of plastics, metals, and glass.
</p>
</div>

<div id="PetWaste">
<h2 class="text-center m-5">Pet waste</h2>
<p class="paragraph">
There are viable solutions to divert dog waste from landfills. Composting dog waste correctly neutralizes the enzymes, creating a byproduct that can be used as manure or mulch on your non-edible plants. However, the composition of dog poop means that you cannot merely put dog poop in the usual compost container. A separate composting receptacle is needed. 
</p>
</div>