

<h1 class="welcome mt-5 text-center">Welcome to Litterwalk</h1>

<p><i>The world’s first earth-conscious app that conveniently connects you the user to a trash or recycling can along the way.</i></p>

<p>Many of us have been to the big city. Cities are often littered with garbage while there aren’t always conveniently located trash and, recycling bins at every corner.</p>

<p> Finding a place to throw away that napkin from a hotdog vendor or that glass bottle from a convenience store can be more of a hassle then it seems.</p>

<p><i>Let’s face it,</i> carrying around trash in your hand, pocket or bag may be the right thing to do but it can be messy and annoying. With Litterwalk, you don’t have to.</p>

<p>Now that you have chosen to take a stand and join the thousands of earth-aware people just like yourself. <i>Let’s get started.</i></p>

<h5>Litterwalk is convenient.</h5>

<p>You can create an account by filling out the name and password field then login with your new account or simply login with your Facebook. 
After signing the user agreement you are now able to access the application.</p>

<p>GREAT, you’re in. Now you’re one step closer to doing your part to help reduce litter in the community where you live or are visiting.</p>

<p>After you have created your account you will be redirected to the Home Page.
From here you can do one of three things; <i>Add a Can</i>, <i>Find a Can</i> or <i>Trash Information</i>.</p>

<h5>Lets Add a Can!</h5>

<p>In most cases you will be prompted by Google (Google.com) to allow Litterwalk to get your current location. If you do not wish to share this information Litterwalk will not be able to populate the map with your data. </p>

<p>Once you have agreed, our <i>Add a Can</i> page will provide you with a simple drop down menu labeled: Type of can.</p>

	<h4><i>Type of can</i> options:</h4>
<ol>
	<li>Trash</li>
	<li>Recycling</li>
	<li>Pet Waste</li>
	<li>Organic</li>
	<li>E-waste</li>
</ol>

<p>From here you choose one of the five pre-selected options. In most cases it will be a trashcan or recycle bin. After you have selected the appropriate category a drag-able icon will populate.</p>

<p>The icon is populated based on GPS location but further refinement may be necessary. If your can does not appear in its exact location you may click or tap on the icon and drag it to the exact spot on the map.</p>

<h6>Click the blue button: <i>Add a Can !</i></h6>

<p>Success! Litterwalk does the rest. Your submission is now added to the map. Other eco-minded people will now be able to <i>Find a Can.</i>  *</p>

<p><i>* In the rare case where there is already a “Can” in that area you will get a message that states: Can already exists!</i></p>

<h5>Lets Find a Can</h5>
		
<p>Finding a <i>Can</i> has never been easier.</p> 

<p>By clicking the blue button: <i>Find a Can</i>, you are instantly directed to the Cans near you page. From here you will see a map already populated with <i>Cans.</i></p>

<p>When you tap on a marker it will give you a pop-up. The pop-up will indicate what type of can it is; additionally a show can option is provided. *</p>

<p><i>*  “Show Can” allows you to report a problem. Whether the can is damaged or even missing all together, the “Show Can” feature will help Litterwalk maintain accurate data to better serve you and your community.</i></p> 
 
<p>Trash Information is a clickable button you may access from the home page. The intended use for this page is to gain a better sense of the various types of waste.</p>

<p>You can make an informed decision based on this literature. We recommend you acquaint yourself with this material.</p>

<p>Lastly,</p>

<p>Thank you for choosing Litterwalk.</p>
