
<h1 class="welcome mt-5 text-center">LitterWalk quick guide</h1>

<h5>Lets <a href="/cans">Find a Can</a></h5> 
		
<p>Finding a <i>Can</i> has never been easier.</p> 

<p>Open the app, you are instantly directed to the Cans near you page. From here you will see a map already populated with <i>Cans.</i></p>

<p>When you tap on a marker it will give you a pop-up. The pop-up will indicate what type of can it is; additionally a show can option is provided. *</p>

<p><i>* Must be logged in. “Show Can” allows you to report a problem. Whether the can is damaged or even missing all together, the “Show Can” feature will help LitterWalk maintain accurate data to better serve you and your community.</i></p> 

<h5>Lets <a href="/cans/new">Add a Can</a></h5>

<p>In most cases you will be prompted by Google (Google.com) to allow LitterWalk to get your current location. If you do not wish to share this information LitterWalk will not be able to populate the map with your data. </p>

<p>Once you have agreed, our <i>Add a Can</i> page will provide you with a simple drop down menu labeled: Type of can.</p>

	<h4><i>Type of can</i> options:</h4>
<ol>
	<li>Trash</li>
	<li>Recycling</li>
	<li>Pet Waste</li>
	<li>Organic</li>
	<li>E-waste</li>
</ol>

<p>From here you choose one of the five pre-selected options. In most cases it will be a trashcan or recycle bin. After you have selected the appropriate category a blue, drag-able icon will populate.</p>

<p>The icon is populated based on GPS location but further refinement may be necessary. If your can does not appear in its exact location you may click or tap on the icon and drag it to the exact spot on the map.</p>

<h6>Click the blue button: <i>Add a Can !</i></h6>