* {
  font-family: 'Ubuntu', sans-serif;
}

/**********************************************/
/******************NAV BAR*********************/
/**********************************************/
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: fixed;
    width: 100%;
    top: 0px;
}

.container {
    margin-top: 60px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #2cbdef !important;
}

a.navbar-brand:hover {
    background: transparent;
}

a.nav-link {
    color: black !important;
    font-size:16px
}

a.nav-link:hover {
    background: transparent !important;
    border-bottom: solid 1px black;
}

p.welcome-msg {
    margin-bottom: 0px;
}

.nav-profile-pic img {
    border-radius: 50%;
}
button.navbar-toggler {
    display: none;
}

a.navbar-brand {
    margin: 0 auto;
    color: white !important;
}

/**********************************************/
/******************CONTENT*********************/
/**********************************************/

h1 {
    font-size: 35px !important;
}

.btn-custom {
    width: 250px;
    color: white !important;
}
#map {
    height: 350px;
    width: 100%;
    background-color: grey;
}
#map.add-can {
    height: 275px !important;
}
a.btn.btn-primary.btn-custom.fb-btn {
    background: #4168AD !important;
}
/*Checkbox*/
input#check_box {
    width: 32px;
    height: 32px;
}

label.form-check-label {
    position: relative;
    top: -10px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/**********************************************/
/*******************FOOTER*********************/
/**********************************************/

.footer {
    margin-top: 1.5rem; 
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}
/* Set the fixed height of the footer here */
#footer {
  /* height: 60px; */
  background-color: #2cbdef;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#footer .navbar-header {
    float:none;
    width:100%;
    padding:10px;
}
#footer .navbar-brand {
    font-size:20pt;
    float:none;
}
#footer #bottomNav {
    padding:10px;
}
#footer #bottomNav a {
    font-size: 14px;
    color: white;
    text-decoration:none;
}
#footer #bottomNav a:hover {
    color:#fff;
}
#footer .col.text-center {
    padding: 0px;
}