<% unless current_user %> 
  <h1 class="text-center p-5">Welcome to LitterWalk</h1>
    <%= render 'users/login' %>
  <% else %>
<h1 class="text-center m-5">Report Issue</h1>

<%= render 'update' %>

<% end %>