  <%= include_gon %>
<header><h1 class="display-4">Add Can</h1></header>


<%= render 'form' %>

    <div id="map"></div>


        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwhVnvsCXhml1l6gb3-S9eTzLzSPG1gGg&callback=initMap">
    </script>

