  <%= include_gon %>
<h1 class="display-4 text-center m-5">Add Can</h1>


<%= render 'form' %>

<div id="map" class="mt-5"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwhVnvsCXhml1l6gb3-S9eTzLzSPG1gGg&callback=initMap"></script>

 
